body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* A links hover color */
a:hover {
  color: rgb(167, 167, 167);
  background-color: transparent;
  text-decoration: underline;
}

/* View Port Full size */
#header {
    height: 100vh;
}

#description {
    background-color: rgb(56, 56, 56);
    font-size: 25px;
    color: rgb(221, 221, 221);
}

#model_inputs {
  background-image: url('/assets/background7.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

#qa_input_sec {
  background-image: url('/assets/background8.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#ner_input_sec {
  background-image: url('/assets/background9.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Create a Parallax Effect */
.bgimg-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/assets/header_background.jpg');
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1 {
    background-attachment: scroll;
    min-height: 400px;
  }
}